# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
.DS_Store
media/

# Environment Variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# firebase/credentials
accounts/firebase/bioguard-firebase-cred.json
